PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/petconnect
JWT_SECRET=cambia_esto_por_algo_secreto
JWT_EXPIRES_IN=7d
ANTHROPIC_API_KEY=sk-ant-xxxxxxxx
MP_ACCESS_TOKEN=APP_USR-xxxxxxxx
FRONTEND_URL=https://tuusuario.github.io
